* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #222;
    display: flex;
    justify-content: center; 
    margin-top: 60px;
}